* {
  margin: 0;
  padding: 0;
  border: border-box;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#00ffae), to(cyan));
  background: linear-gradient(to right bottom, #00ffae, cyan);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid black;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7e6e6));
  background: linear-gradient(to bottom, white, #e7e6e6);
  -webkit-box-shadow: 20px 20px 30px rgba(81, 81, 81, 0.8);
          box-shadow: 20px 20px 30px rgba(81, 81, 81, 0.8);
  max-width: 750px;
  width: 80%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
}

.instructions {
  display: none;
}

.quiz {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 80vh;
}

.results {
  padding: 20px;
  display: none;
}

.question-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  padding-bottom: 5px;
}

.question-title {
  border: 3px solid black;
  border-radius: 10px;
  padding: 8px;
}

.timer-bar {
  height: 4px;
  background-color: #76fccb;
  width: 0%;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.timer {
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
}

.answer-choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.answer-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 7vh;
  width: 80%;
  background-color: #c1ffe6;
  border: 2px solid black;
  -webkit-box-shadow: 3px 3px 3px #565656;
          box-shadow: 3px 3px 3px #565656;
  border-radius: 10px;
  margin-bottom: 15px;
  -webkit-transition: 0.12s;
  transition: 0.12s;
}

.answer-choice:hover {
  background-color: #fbffa9;
}

.choice-selected {
  background-color: #fcffa7;
  -webkit-transform: translate(-2px, -2px);
          transform: translate(-2px, -2px);
}

.choice-selected:hover {
  background-color: #fcffa7;
}

.choice-correct {
  background-color: #91ff73;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.choice-correct:hover {
  background-color: #91ff73;
}

.choice-incorrect {
  background-color: #fe8e8e;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.choice-incorrect:hover {
  background-color: #fe8e8e;
}

.choice-disabled {
  background-color: #dedcdc;
  color: #6f6f6f;
  border-color: #515151;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.choice-disabled:hover {
  background-color: #c6c6c6;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px 20px;
}

.question-input,
.question-method,
.question-output {
  margin: 4px 0px;
  font-size: 1.1rem;
}

.queried {
  font-size: 1.1rem;
}

button {
  font-size: 1.4rem;
  padding: 3px;
  min-width: 150px;
  border-radius: 8px;
  background: transparent;
  margin: 30px 0 5px;
  border: 2px solid #a2a2a2;
}

button:enabled {
  border: 3px solid black;
  color: black;
}

button:enabled:hover {
  background-color: #fcffa7;
}

code {
  background-color: rgba(208, 208, 208, 0);
  padding: 5px;
  font-size: 1.3rem;
  letter-spacing: 0.02rem;
}

@media (max-width: 628px) {
  .container {
    width: 99.5vw;
    padding: 0;
    margin: 0;
  }
  .page {
    padding: 0;
  }
}
/*# sourceMappingURL=index.css.map */