@media (max-width: 576px) {
  .container {
    width: 98.2vw;
  }
  .page {
    padding: 10px;
  }
  code {
    font-size: 1rem;
  }
  .question-input,
  .question-method,
  .question-output {
    font-size: 0.9rem;
  }
  .answer-choice {
    width: 90%;
  }
  .response {
    left: 140px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 98.9vw;
  }
  .page {
    padding: 10px;
  }
  code {
    font-size: 1.2rem;
  }
  .question-input,
  .question-method,
  .question-output {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  .page {
    padding: 20px 0;
  }
  code {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.1rem;
  }
  .question-input,
  .question-method,
  .question-output {
    font-size: 1.1rem;
  }
}
