$textColor: rgb(0, 0, 0);
$primary: rgb(0, 255, 174);
$secondary: rgb(0, 255, 255);
$cardGrey: rgb(225, 225, 225);
$shadow: rgba(81, 81, 81, 0.8);
$choice-default: rgb(220, 255, 235);
$choice-selected: rgb(252, 255, 167);
$choice-correct: rgb(174, 254, 152);
$choice-incorrect: rgb(251, 150, 150);
$choice-disabled: rgb(222, 220, 220);
$button-disabled: rgb(162, 162, 162);
$response-correct: rgb(35, 181, 3);
$response-incorrect: rgb(215, 85, 85);
